html{
    font-family: Vazir;
    background-color: #007bff;
}
*{
    font-family: Vazir;
    text-align: right !important;
}
.heder-title{
    background-image: url("https://www.pngitem.com/pimgs/m/222-2221750_background-for-site-png-transparent-png.png");
    text-align: center;
    padding: 1%;
    font-family: Vazir;

}
.line-spacing{
    line-height : 200%;
}
.section-header-1{
   background:#f5f6fa;
    display: flex;
    flex-direction: row;
    color: #575557;
    font-family: Vazir;

}
.section-header-2{
    background-color: #2c2c54;
    padding: 1.3%;
    display: flex;
    flex-direction: row;
    color: #fcfafc;
    font-family: Vazir;

}
.h-title{
    padding: .6%;
    padding-top: 2%;
    font-family: Vazir;

    padding-left: 2%;
    padding-right: 2%;
}
.h-title:hover{
    background-color: #7f8fa6;
    color: white;
    font-family: Vazir;

}
body{
    background-color: #e6f3f3!important;
}
.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-template-columns: 20% 40%;
    background: linear-gradient(#E0EAFC, #CFDEF3);
    justify-content: center;
    padding: 1%;
    font-family: Vazir;

}
.btn_search{
    padding: 3%;
    padding-top:0;
    padding-bottom:.5% ;
    background-color: #2c2c54;
    color: white !important;
    font-family: Vazir;
}
h6{
    color: #db0404;
    font-weight: bold;
    font-family: Vazir;
    font-size: small;
}
.sear{
    padding: 3%;
    padding-left: 28%;
    padding-right:24%;
    font-family: Vazir;

    margin-top: 0%;
    background-color: #f5f6fa;
}
.btn_header{
    padding: 4%;
    background-color: #2c2c54;
    color: white;
    font-family: Vazir;
    font-size: small;
    border-radius: 45px;
}
.tozihat{
    background: #bdc2de;
    font-family: Vazir;

}
.image{
    display: none;
}
.paragraph_tozih{
    padding: 3%;
    padding-right: 7%;
    font-family: Vazir;

}
.body1{
background-color: #E3F2FD;
    display: flex;
    font-family: Vazir;
    background-color: azure;
    flex-direction: row;
}
.title{
    margin-top: 1%;
    padding: 2%;
    font-family: Vazir;

    padding-top: .1%;
    background-color: #E3F2FD;
}
.img{
    width: 90%;
    padding: 2%;
    border-radius: 15px;
    border: #7f8fa6 solid;
}
.sear::placeholder{
    font-family: Vazir;

}
.img_logo{
    width:80%;
    text-align: center;
    padding: 3%;
    padding-left: 15%;
    font-family: Vazir;

}
.title3{
    background-color: #E3F2FD;
}
.body2{
    /*background-image: url("https://cdn.wallpapersafari.com/14/4/aWeKrQ.jpg");*/
    background-color: #eaf8fa;
    display: flex;
    flex-direction: row;
    font-family: Vazir;

}
.title2{
    margin-top: 1%;
    padding: 2%;
    padding-top: .1%;
    background-color: #E3F2FD;
    font-family: Vazir;

}
.box{
    padding: 2%;
    margin: 2%;
    border: 1px solid #CFD8DC;
    border-radius: 8%;
    line-height : 200%;
    font-family: Vazir;
}
.boxx{
    line-height : 200%;
    padding: 2%;
    margin: 2%;
    border: 2px solid #CFD8DC;
    border-radius: 8%;
    font-family: Vazir;
}
.box1{
    background:#f1f2f6;
}
.box2{
    background:#f1f2f6;
}
.box3{
    background:#f1f2f6;
}
.box4{
    background:#f1f2f6;
}
.box1-3{
    background-color: #55efc4;
}
.box2-3{
    background-color: #f8c291;
}
.box3-3{
    background-color: #b8e994;
}
.box4-3{
    background-color: #fa983a;
}
.paragraph{
    background-color: #74b9ff;
    color: #fcf9fc;
    margin-top: 0;
    padding: 2%;
    font-family: Vazir;

}

.footer{
    font-family: Vazir;
    background-color: #2c2c54;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.boxxx{
    margin: 3%;
}
.kadr{
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px #c5c2c2 solid;
    border-radius: 4px;
}
.butn{
    background: linear-gradient(#060658,#0e3a6a);
    margin: 2%;
    padding: 5%;
    box-shadow: 5px 10px #888888;
    font-family: Vazir;
    color: white;

}
.butn:hover{
    background-color: #29d4d4;
    font-family: Vazir;
}
.body3{
    background-color: #eaf8fa;
    display: grid;
    grid-template-columns:100% ;
    /*grid-template-columns: 24% 24% 45%;*/
    /*grid-gap: 2%;*/
    padding: 5%;
    font-family: Vazir;

}
.light{
    background-color: #9edee2;
    border: #bbeef1;
    padding: 1%;
}
.boox{
    background-color: #0a1a82;
    padding: 5%;
    color: white;
    border-radius: 15px;
    margin-top: 5%;
    font-family: Vazir;

}
.bboox1{
    background-color: #c7ecee;
    padding: 9%;
    border-radius: 15px;
    margin-top: 5%;
    font-family: Vazir;

}
.end_btn{
    background-color: #9edee2;
    padding: 5%;
    border-radius: 15px;
    color: #1d2124;
    font-weight: bold;
    font-family: Vazir;
    font-size: medium;
    font-family: Vazir;

}
.searchBar{
    display: flex;
    flex-direction: row;
    font-family: Vazir;

}
.btn{
    color: white !important;
}
.btn_header:hover{
    background-color: #43436e;
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.51);
}
.butn:hover{
    background: linear-gradient(#121270, #124985);
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.67);
}
.end_btn:hover{
    background-color: #a9d7da;
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.67);
    text-shadow: 2px 5px 30px rgba(0, 0, 0, 0.78);
}

@media only screen and (min-width: 400px){
    .heder-title{
        right: 0;
    }
.body1{
    display: flex;
    flex-direction: column;
    padding: 5%;

}
    .body2{
        display: flex;
        flex-direction: column;
        padding: 5%;

    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .section-header-1{
        display: flex;
        flex-direction: column;
    }
    .section-header-2{
        display: flex;
        flex-direction: column;
    }
    .heder-title{
        height: 100%;
    }
}
@media only screen and (min-width: 700px) {

    .tozihat{
        display: grid;
        grid-template-columns:40% 10%;
    }
    .image{
        display: block;
        width: 10%;
    }
    .header {
        text-align: center;
        display: grid;
        grid-template-columns: 20% 40%;
    }
    .body2{
        display: grid;
        grid-template-columns: 50% 50% ;
    }
    .body1{
        display: grid;
        grid-template-columns: 50% 50% ;
    }
    .body3{
        background-color: #eaf8fa;
        display: grid;
        grid-template-columns: 50% 50% ;
        grid-gap: 2%;
        padding: 5%;
    }
    .section-header-1{
        display: flex;
        flex-direction: row;
        padding: 1%;
    }
    .section-header-2{
        display: flex;
        flex-direction: row;
        padding: 1%;
    }
    .box{
        margin: 6%;
    }
    .boxx{
        margin: 6%;
    }
}
@media only screen and (min-width: 800px){
    .tozihat{
        display: grid;
        grid-template-columns:60% 30%;
    }

    .body3{
        background-color: #eaf8fa;
        display: grid;
        grid-template-columns: 25% 25% 40% ;

    }
    .body1{
        display: grid;
        grid-template-columns: 47% 47%;
        grid-template-rows: 51% 51%;
        grid-gap: 2%;
        text-align: center;
        padding-bottom: 10%;

    }
    .box{
        padding-bottom: 34%;
        margin: 5%;
    }
    .boxx{
        padding-bottom: 34%;
        margin: 5%;

    }
    .body2{
        display: grid;
        grid-template-columns: 47% 47%;
        grid-template-rows: 51% 51%;
        grid-gap: 2%;
        padding-bottom: 10%;
    }
    .footer{
        display: grid;
        grid-template-columns: 30% 20% 20%;
        grid-gap: 8%;
    }
    .section-header-1{
        display: flex;
        flex-direction: row;    }
    .heder-title{
        height: 100%;
}
@media only screen and (min-width: 1000px){
    .body1{
        display: flex;
        flex-direction: row;
        grid-gap: 0%;
        padding-bottom: 1%;
    }
    .body2{
        display: flex;
        flex-direction: row;
        grid-gap: 1%;
        padding: 2%;
    }
    .footer{
        display: flex;
        flex-direction: row;
    }
    .section-header-1{
        display: flex;
        flex-direction: row;
    }
    .heder-title{
        height: 100%;
    }
    }
    .box{
        padding-bottom: 2%;
        margin: 1%;
    }
    .boxx{
        padding-bottom: 1%;
        padding-bottom: 2%;
        margin: 0;

    }
}
